In [62]:
import pandas as pd
import geopandas as gpd
import matplotlib.pyplot as plt
import numpy as np
from sklearn import linear_model

In [228]:
silo_path = '../inputs/silos_ilmenard/silos_ilmenard.shp'
parcel_path = '../inputs/parcels_ilmenard/parcels_ilmenard.shp'
farmer_id_str = 'OWNER'
farm_acres_id_str = 'FARM_ACRES'
size_id_str = 'DIAMETER'
cluster_size = 3
cluster_distance_meters = 30
granger_silo_lookup_path = '../inputs/wide_corrugation_bin_data.csv'

In [229]:
#filters silo shapes for those with the correct diameter (4-20), and within a group of at least 3 (within 40 meters of each other) 
def return_silo_gdf(silo_shp_path, size_id_str, cluster_size, cluster_distance_meters):
	silo_df = gpd.read_file(silo_shp_path)
	silo_df['unique_id'] = silo_df.index
	#4 to 20 meters in diameter, 3 or more
	silo_size_subset_df = silo_df[(silo_df[size_id_str]>=4) & (silo_df[size_id_str]<=20)]
	#create 'reasonable distance' buffer around each potential silo - will use to determine proximity
	silo_subset_proj = silo_size_subset_df.copy()
	#remember to project data to meters!
	silo_subset_proj['geometry'] = silo_subset_proj['geometry'].to_crs(epsg=32616)
	silo_subset_proj['geometry'] = silo_subset_proj.geometry.buffer(cluster_distance_meters)
	#spatial match, exclude matches to self, group by, those with >2 matches are candidates
	silo_silo_spatial_matches = gpd.sjoin(silo_subset_proj, silo_subset_proj)
	silo_silo_spatial_matches = silo_silo_spatial_matches[['unique_id_left', 'unique_id_right']]
	count_per_silo = silo_silo_spatial_matches.groupby(['unique_id_left']).size()
	#filters for silos in clusters of at least 'cluster size argument'
	silo_id_series = count_per_silo[count_per_silo>=cluster_size]
	silo_id_list = silo_id_series.index.tolist()
	#filters original shapefile by ID list of detected silos
	screened_silo_df = silo_df[silo_df['unique_id'].isin(silo_id_list)]
	#print(screened_silo_df)
	return screened_silo_df

In [230]:
screened_silo_df = return_silo_gdf(silo_path, size_id_str, cluster_size, cluster_distance_meters)

In [136]:
granger_lookup_df = pd.read_csv(granger_silo_lookup_path)
granger_lookup_df = granger_lookup_df[['diameter_m', 'tiers', 'bushels']]

In [137]:
granger_lookup_df[granger_lookup_df['diameter_m']==12.8]

    diameter_m  tiers  bushels
56        12.8      4    21512
57        12.8      5    25789
58        12.8      6    30066
59        12.8      7    34343
60        12.8      8    38620
61        12.8      9    42897
62        12.8     10    47174

In [142]:
granger_diam_min_tier = granger_lookup_df.groupby('diameter_m').min()

granger_diam_min_tier.at[12.8, 'tiers']

4

In [143]:
granger_diam_max_tier = granger_lookup_df.groupby('diameter_m').max()

granger_diam_max_tier.at[12.8, 'tiers']

10

In [144]:
granger_lookup_df.groupby('diameter_m').min()

            tiers  bushels
diameter_m
4.6             3     1841
5.5             3     2709
6.4             3     3765
7.3             3     5020
8.2             3     6482
9.1             4    10342
10.1            4    12706
11.0            4    15349
12.8            4    21512
14.6            4    28907

In [67]:
granger_lookup_df['tiers'] = granger_lookup_df['tiers'].astype('str')

In [80]:
pd.crosstab(granger_lookup_df.diameter_m, granger_lookup_df.tiers, values=granger_lookup_df.bushels, aggfunc=sum)

tiers,10,3,4,5,6,7,8,9
diameter_m,,,,,,,,
4.6,NaN,1841.0,2385.0,2930.0,3474.0,4019.0,4563.0,NaN
5.5,NaN,2709.0,3493.0,4278.0,5062.0,5847.0,6631.0,7416.0
6.4,NaN,3765.0,4833.0,5901.0,6970.0,8038.0,9106.0,10174.0
7.3,NaN,5020.0,6415.0,7811.0,9206.0,10602.0,11997.0,13392.0
8.2,18847.0,6482.0,8248.0,10015.0,11781.0,13548.0,15314.0,17081.0
9.1,23429.0,NaN,10342.0,12523.0,14704.0,16886.0,19067.0,21248.0
10.1,28543.0,NaN,12706.0,15345.0,17985.0,20625.0,23264.0,25904.0
11.0,34199.0,NaN,15349.0,18491.0,21633.0,24774.0,27916.0,31058.0
12.8,47174.0,NaN,21512.0,25789.0,30066.0,34343.0,38620.0,42897.0
14.6,62429.0,NaN,28907.0,34494.0,40081.0,45668.0,51255.0,56842.0

In [81]:
bushels_by_tier_diameter = pd.crosstab(granger_lookup_df.diameter_m, granger_lookup_df.tiers, values=granger_lookup_df.bushels, aggfunc=sum)

In [82]:

bushels_by_tier_diameter['diameter_m'] = bushels_by_tier_diameter.index

In [83]:
bushels_by_tier_diameter

tiers,10,3,4,5,6,7,8,9,diameter_m
diameter_m,,,,,,,,,
4.6,NaN,1841.0,2385.0,2930.0,3474.0,4019.0,4563.0,NaN,4.6
5.5,NaN,2709.0,3493.0,4278.0,5062.0,5847.0,6631.0,7416.0,5.5
6.4,NaN,3765.0,4833.0,5901.0,6970.0,8038.0,9106.0,10174.0,6.4
7.3,NaN,5020.0,6415.0,7811.0,9206.0,10602.0,11997.0,13392.0,7.3
8.2,18847.0,6482.0,8248.0,10015.0,11781.0,13548.0,15314.0,17081.0,8.2
9.1,23429.0,NaN,10342.0,12523.0,14704.0,16886.0,19067.0,21248.0,9.1
10.1,28543.0,NaN,12706.0,15345.0,17985.0,20625.0,23264.0,25904.0,10.1
11.0,34199.0,NaN,15349.0,18491.0,21633.0,24774.0,27916.0,31058.0,11.0
12.8,47174.0,NaN,21512.0,25789.0,30066.0,34343.0,38620.0,42897.0,12.8
14.6,62429.0,NaN,28907.0,34494.0,40081.0,45668.0,51255.0,56842.0,14.6

In [84]:
bushels_by_tier_diameter_log = bushels_by_tier_diameter.apply(np.log)

In [128]:

power_curve_defs_dict = dict()
for tier in granger_lookup_df.tiers.unique():
    bushels_by_tier_diameter_log_subset = bushels_by_tier_diameter_log[[tier, 'diameter_m']]
    bushels_by_tier_diameter_log_subset = bushels_by_tier_diameter_log_subset[bushels_by_tier_diameter_log_subset[tier].notnull()]
    print(len(bushels_by_tier_diameter_log_subset))
    reg = linear_model.LinearRegression()
    reg.fit(bushels_by_tier_diameter_log_subset[['diameter_m']], bushels_by_tier_diameter_log_subset[tier])
    power_curve_defs_dict[tier] = [reg.coef_[0], np.exp(reg.intercept_)]
    #print(bushels_by_tier_diameter_log_subset)
    pass

print(power_curve_defs_dict)

5
10
10
10
10
10
9
6
{'3': [2.177048959920767, 66.29401286483152], '4': [2.1517957100685443, 89.02805480312722], '5': [2.126756820194697, 113.8302511253367], '6': [2.109363484434887, 138.79047316486762], '7': [2.0962962689267997, 163.95887983377224], '8': [2.0863920122584725, 189.14496471117266], '9': [2.0772867192029936, 215.02023142472837], '10': [2.073218272518192, 238.97392036861004]}

In [95]:
reg = linear_model.LinearRegression()

reg.fit(bushels_by_tier_diameter_log[['diameter_m']], bushels_by_tier_diameter_log['4'])

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
         normalize=False)

In [91]:
reg.coef_

array([2.15179571])

In [93]:
np.exp(reg.intercept_)

89.02805480312722

In [123]:
granger_lookup_df.tiers.unique()

array(['3', '4', '5', '6', '7', '8', '9', '10'], dtype=object)

In [125]:
screened_silo_df.head(2)

   DIAMETER                                           geometry  unique_id
0  5.970181  POLYGON ((-89.761038140355 40.11017998598363, ...          0
1  5.782834  POLYGON ((-89.7610309374848 40.110121105254, -...          1

In [127]:
bushels_by_tier_diameter.head(5)

tiers,10,3,4,5,6,7,8,9,diameter_m
diameter_m,,,,,,,,,
4.6,NaN,1841.0,2385.0,2930.0,3474.0,4019.0,4563.0,NaN,4.6
5.5,NaN,2709.0,3493.0,4278.0,5062.0,5847.0,6631.0,7416.0,5.5
6.4,NaN,3765.0,4833.0,5901.0,6970.0,8038.0,9106.0,10174.0,6.4
7.3,NaN,5020.0,6415.0,7811.0,9206.0,10602.0,11997.0,13392.0,7.3
8.2,18847.0,6482.0,8248.0,10015.0,11781.0,13548.0,15314.0,17081.0,8.2

In [146]:
def min_max_granger_tier_by_diameter(granger_silo_lookup_path):
	granger_lookup_df = pd.read_csv(granger_silo_lookup_path)
	granger_lookup_df = granger_lookup_df[['diameter_m', 'tiers', 'bushels']]
	min_max_tier_dict = dict()
	for diameter in granger_lookup_df.diameter_m.unique():
		granger_diam_min_tier = granger_lookup_df.groupby('diameter_m').min()
		min_tier = granger_diam_min_tier.at[diameter, 'tiers']
		granger_diam_max_tier = granger_lookup_df.groupby('diameter_m').max()
		max_tier = granger_diam_max_tier.at[diameter, 'tiers']
		min_max_tier_dict[diameter] = [min_tier, max_tier]
	return min_max_tier_dict

min_max_tier_dict = min_max_granger_tier_by_diameter(granger_silo_lookup_path)

In [147]:
min_max_tier_dict

{4.6: [3, 8],
 5.5: [3, 9],
 6.4: [3, 9],
 7.3: [3, 9],
 8.2: [3, 10],
 9.1: [4, 10],
 10.1: [4, 10],
 11.0: [4, 10],
 12.8: [4, 10],
 14.6: [4, 10]}

In [278]:
screened_silo_df_est = screened_silo_df.copy()
#screened_silo_df_est['nearest_granger_diam'] =

In [280]:
for index, row in screened_silo_df_est.iterrows():
        nearest_key = min(min_max_tier_dict, key=lambda x:abs(x-row.DIAMETER))
        nearest_key_min_max = min_max_tier_dict[nearest_key]
        #print(nearest_key_min_max)
        screened_silo_df_est.at[index, 'nearest_granger_diam'] = nearest_key
        screened_silo_df_est.at[index, 'min_tier'] = str(nearest_key_min_max[0])
        screened_silo_df_est.at[index, 'max_tier'] = str(nearest_key_min_max[1])
        
        diameter = screened_silo_df_est.at[index, 'DIAMETER']
        min_slope = power_curve_defs_dict[str(nearest_key_min_max[0])][0]
        #print(min_slope)
        min_intercept = power_curve_defs_dict[str(nearest_key_min_max[0])][1]
        #print(min_intercept)
        screened_silo_df_est.at[index, 'min_bushels_est'] = min_intercept*(diameter**min_slope)
        #print(min_intercept*(4.6**min_slope))
        
        max_slope = power_curve_defs_dict[str(nearest_key_min_max[1])][0]
        #print(max_slope)
        max_intercept = power_curve_defs_dict[str(nearest_key_min_max[1])][1]
        #print(max_intercept)
        
        screened_silo_df_est.at[index, 'max_bushels_est'] = max_intercept*(diameter**max_slope)
        #print(max_intercept*(5.5**max_slope))

In [281]:
screened_silo_df_est.head()

,DIAMETER,geometry,unique_id,nearest_granger_diam,min_tier,max_tier,min_bushels_est,max_bushels_est
0,5.970181,"POLYGON ((-89.761038140355 40.11017998598363, ...",0,6.4,3,9,3242.179913,8798.889721
1,5.782834,"POLYGON ((-89.7610309374848 40.110121105254, -...",1,5.5,3,9,3024.767929,8235.011429
2,4.725118,"POLYGON ((-89.76101939039121 40.1101153080984,...",2,4.6,3,8,1948.514923,4829.298133
3,10.958176,"POLYGON ((-89.7645452732458 40.11338562571487,...",3,11.0,4,10,15375.569587,34194.390630
4,8.454480,"POLYGON ((-89.7647079257188 40.11342932677454,...",4,8.2,3,10,6914.932197,19971.195073

In [282]:
power_curve_defs_dict

{'3': [2.177048959920767, 66.29401286483152],
 '4': [2.1517957100685443, 89.02805480312722],
 '5': [2.126756820194697, 113.8302511253367],
 '6': [2.109363484434887, 138.79047316486762],
 '7': [2.0962962689267997, 163.95887983377224],
 '8': [2.0863920122584725, 189.14496471117266],
 '9': [2.0772867192029936, 215.02023142472837],
 '10': [2.073218272518192, 238.97392036861004]}

In [283]:
def return_farmer_gdf(parcel_shp_path, farmer_id_str, farm_acres_id_str):
	#load and clean parcel data and fields of interest
	parcel_df = gpd.read_file(parcel_shp_path)
	parcel_df[farmer_id_str] = parcel_df[farmer_id_str].str.strip()
	#assume NaN farm acres data is '0'
	parcel_df[farm_acres_id_str] = parcel_df[farm_acres_id_str].fillna(value=0)
	#subset parcel df for records with farm acres >0
	farm_parcels_df = parcel_df[parcel_df[farm_acres_id_str]>0]
	#subset df to fields of interest
	farm_parcels_by_owner_df = farm_parcels_df[[farmer_id_str,farm_acres_id_str,'geometry']]
    #group farm parcels by owner name, sum farm acres, dissolve geoms into single poly
	owner_farm_acres_and_geom = farm_parcels_by_owner_df.dissolve(by=farmer_id_str, aggfunc='sum')
	owner_farm_acres_and_geom.sort_values(by=[farm_acres_id_str], inplace=True, ascending=False)
	return owner_farm_acres_and_geom

owner_farm_acres_and_geom_df = return_farmer_gdf(parcel_path, farmer_id_str, farm_acres_id_str)


def silo_min_max_bushel_est(screened_silo_df, power_curve_defs_dict, min_max_tier_dict):
	screened_silo_df_est = screened_silo_df.copy()
	for index, row in screened_silo_df_est.iterrows():
		nearest_key = min(min_max_tier_dict, key=lambda x:abs(x-row.DIAMETER))
		nearest_key_min_max = min_max_tier_dict[nearest_key]
		screened_silo_df_est.at[index, 'nearest_granger_diam'] = nearest_key
		screened_silo_df_est.at[index, 'min_tier'] = str(nearest_key_min_max[0])
		screened_silo_df_est.at[index, 'max_tier'] = str(nearest_key_min_max[1])

		diameter = screened_silo_df_est.at[index, 'DIAMETER']
		min_slope = power_curve_defs_dict[str(nearest_key_min_max[0])][0]
		min_intercept = power_curve_defs_dict[str(nearest_key_min_max[0])][1]
		screened_silo_df_est.at[index, 'min_bushels_est'] = min_intercept*(diameter**min_slope)

		max_slope = power_curve_defs_dict[str(nearest_key_min_max[1])][0]
		max_intercept = power_curve_defs_dict[str(nearest_key_min_max[1])][1]
		screened_silo_df_est.at[index, 'max_bushels_est'] = max_intercept*(diameter**max_slope)

	#screened_silo_df_est.to_csv('~/Desktop/lead_gen/silo_est.csv')
	return screened_silo_df_est

screened_silo_df_est = silo_min_max_bushel_est(screened_silo_df, power_curve_defs_dict, min_max_tier_dict)

In [284]:
#gpd.sjoin(owner_farm_acres_and_geom_df, screened_silo_df_est)

In [285]:
#def match_silos_to_farmers(screened_silo_df_est, owner_farm_acres_and_geom_df):

farm_to_silo_match = gpd.sjoin(owner_farm_acres_and_geom_df, screened_silo_df_est, how='left')
farm_to_silo_match = farm_to_silo_match[['min_bushels_est', 'max_bushels_est']]
silo_bushel_est_by_farmer = farm_to_silo_match.groupby(farm_to_silo_match.index).sum()

bushel_estimates_by_farm = owner_farm_acres_and_geom_df.join(silo_bushel_est_by_farmer)

owner_farm_acres_and_geom_df.join(silo_bushel_est_by_farmer).head()
    
#farm_to_silo_match.groupby(farm_to_silo_match.index).sum()

,geometry,FARM_ACRES,min_bushels_est,max_bushels_est
OWNER,,,,
GRIGSBY FAMILY PARTNERSHIP,(POLYGON ((-89.98987808275918 39.9599203194489...,4738.60,173673.940320,382170.537192
AG HOLDINGS PLUS LLC,POLYGON ((-89.94284543834623 39.97806623107908...,2362.88,0.000000,0.000000
LOZIER JOHN G,"(POLYGON ((-89.6772670374137 40.126110352976, ...",2038.40,0.000000,0.000000
KINCAID MARGARET G TRUSTEE,(POLYGON ((-89.67500412580851 39.9900833522892...,1874.83,0.000000,0.000000
THOMAS MICHAEL & KEVIN CO-EXEC,(POLYGON ((-89.9385960401813 40.07580363987313...,1279.62,69363.190202,153448.723672